<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <title>{{ titleOfWebsite }}</title>
</head>
<body>
  <!-- header -->
  <header class="header">
    <div class="header_container">
      <div class="header_title">
        <img src="{{ url_for('static', filename='img/username.png') }}">
      </div>
      <nav class="header_nav">
        <ul class="header_ul">
          <li class="header_li"><a href="#">Github</a></li>
          <li class="header_li"><a href="#">Blog</a></li>
          <li class="header_li"><a href="#">Content</a></li>
        </ul>
      </nav>  
    </div>  
  </header>

  <!-- main -->
  <main class="main">
    <div class="main_container">
      <div class="main_title">
        <img src="{{ url_for('static', filename='img/username.png') }}">
        <h2>I'm using NixOS</h2>
        <p>Some text about me</p>
      </div>
      <img src="{{ url_for('static', filename='img/logo.jpg') }}">
    </div>
  </main>

  <!-- footer -->
  <footer class="footer">
    <div class="footer_container">
      <div class="footer_icon">
        <img src="{{ url_for('static', filename='img/discord.png') }}">
        <p>yurei_07</p>
      </div>
      <div class="footer_icon">
        <img src="{{ url_for('static', filename='img/reddit.png') }}">
        <p>Quick-Passenger-9177</p>
      </div>
      <div class="footer_icon">
        <img src="{{ url_for('static', filename='img/gmail.png') }}">
        <p>prizrakYurei@gmail.com</p>
      </div>
    </div>
  </footer>

  <!-- Typing Effect Script -->
  <script src="{{ url_for('static', filename='js/typing.js') }}"></script>
</body>
</html>
