<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>{{titleOfWebsite}}</title>
</head>
<body>
    <header class="header">
      <div class="header_flex">
        <div class="header_title">
          <img src="{{ url_for('static', filename='Exclude.png') }}"/>
          <h2>{{headerTitle}}</h1>
        </div>

        <nav class="header_nav">
          <ul class="header_ul">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
          </ul>

          <button><a href="#">Contact</a></button>
        </nav>
      </div>
      
    </header>
</body>
</html>
