:root {
  --default-bg: #09090B;
  --lighter-bg: #1c1e1f;
  --selection-bg: #313244;
  --hover-color: #ffff;
}
/* Main change */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
* {
  color: var(--hover-color);
  background: var(--default-bg);
  margin: 0;
  font-family: "Merriweather", serif;
}

/* Header */
.header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  width: 140px;
}

.header_title img {
  width: 140px;
  cursor: pointer;
}

.header_nav {
  width: 400px;
}

.header_ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header_ul li a {
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header_ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--hover-color);
  transition: width 0.3s ease;
}

.header_ul li a:hover::after {
  width: 100%;
}

/* Main */

.main {
  margin-top: 120px;
}

.main_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: var(--lighter-bg);
  padding: 120px 0px 120px 0px;
  border: solid 2px var(--hover-color);
}

.main_title {
  background: var(--lighter-bg);
}

.main_title img {
  background: var(--lighter-bg);
}

.main_title h2 {
  margin: 10px 0px 30px 0px;
  background: transparent;
  font-weight: 500;
}

.main_title h2 .typed-text {
  background: var(--highlight-bg);
  display: inline-block;
  padding: 0.04em 0.18em;
  border-radius: 4px;
}

.typed-cursor {
  display: inline-block;
  width: 3px;
  height: 1.2em;
  background-color: var(--hover-color);
  margin-left: 2px;
  vertical-align: middle;
  animation: blink 0.7s infinite;
}

.main_title p {
  margin: 0px 0px 0px 5px;
  font-size: 18px;
  background: var(--lighter-bg);
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.main_title p {
  background: var(--lighter-bg);
}

.main_container img {
  width: 400px;
}

/* Footer */
.footer {
  margin-top: 70px;
}

.footer_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer_icon img {
  padding: 0px 10px 0px 0px;
  width: 30px;
  filter: grayscale(100); 
}

.footer_icon p {
  font-size: 18px;
  color: #5a5b63;
}